
@model IEnumerable<VgSalud.Models.E_Carnet_Sanitario>

<div class="content-wrapper">
    <section class="content-header">
        <h1>POR ATENDER</h1>
        @*<ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-users"></i>Pacientes</a></li>
                <li class="active">Consultar Pacientes</li>
            </ol>*@
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <fieldset>
                        <legend style="margin-left:3%;width:96%">Lista</legend>
                        <div class="box-body">
                            <div class="col-md-12 " style="padding-left:44px;padding-right: 115px;">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr class="headTabla">
                                            <th width="10%" style="text-align:center">Cuenta</th>
                                            <th width="30%" style="text-align:center">Paciente</th>
                                            <th width="20%" style="text-align:center">Tipo</th>
                                            <th width="20%" style="text-align:center">Acciones</th>
                                            @*<th style="width: 10%;text-align:center"><i class="fa fa-edit"></i> / <i class="fa fa-area-chart"></i> / <i class="fa fa-book"></i></th>*@
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </section>
</div>
