
@model VgSalud.Models.E_Carnet_Sanitario
@{
    int TipoCarnet = (int)ViewBag.tipoCarnet;

    string Manipulador = (string)ViewBag.Manipulador;

    string Campana = (string)ViewBag.Campana; 
    
    string check = "checked";

 }


<div class="content-wrapper">
    <section class="content-header">
        <h1>Carnet Sanitario </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-users"></i>Atención</a></li>
            <li class="active">Registrar Carnet</li>
        </ol>
    </section>
    <section class="content" id="yaRegistro">
        <div class="box box-default">

            <div class="box-header with-border">
                <h3 class="box-title">Registrar Carnet</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                </div>
            </div>

            <div class="box-header">
                @*@{
                    <div style="float:left; padding:0% 1% 0 1%" title="ALT + A">
                        <a href="~/Carnet/ListarCarnetRegistradosDia">
                            <center style="MARGIN-LEFT: 28PX;"><i class="fa fa-arrow-circle-left" style="font-size:25px; color:#13D003"></i><br><strong style="color:black">Atras</strong></center>
                        </a>
                    </div>
                }*@
            </div>


            <div class="box-body">

                <form method="post" action="~/Carnet/RegistroCarnet" enctype="multipart/form-data">
                    @*<input type="hidden" name="Historia" value="@Model.Historia" />*@
                    <div class="col-md-12">
                        <div class="col-md-5 col-md-offset-1">
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <label>Tarifa</label>
                                    </div>
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.DescTar, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                        
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <label>Tipo de carnet</label>
                                    </div>
                                    
                                    <div class="col-md-9">
                                         <div class="col-xs-12 col-md-4" style="text-align:left;">
                                             <label style="font-size:120%;color:coral"><input type="radio" @if (TipoCarnet == 2) { @check; } value="2" name="TipoCarnet" style="width:16px;height:16px;"> NORMAL</label>
                                        </div>
                                        <div class="col-xs-12 col-md-6" style="text-align:left;">
                                            <label style="font-size:120%;color:coral"><input type="radio" value="1" name="TipoCarnet" @if (TipoCarnet == 1) { @check; } style="width:16px;height:16px;"> ADULTO MAYOR</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <label>Manipulador</label>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <label style="font-size:120%;color:coral"><input type="radio" @if (Manipulador == "SI") { @check; } value="SI" name="Manipulador" style="width:16px;height:16px;"> SI</label>
                                            </div>
                                            <div class="col-md-4">
                                                <label style="font-size:120%;color:coral"><input type="radio" @if (Manipulador == "NO") { @check; } value="NO" name="Manipulador" style="width:16px;height:16px;"> NO</label>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <label>Campaña</label>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <label style="font-size:120%;color:coral"><input type="radio" @if (Campana == "SI") { @check; } value="SI" name="Campana" style="width:16px;height:16px;"> SI</label>
                                            </div>
                                            <div class="col-md-4">
                                                <label style="font-size:120%;color:coral"><input type="radio" @if (Campana == "NO") { @check; } value="NO" name="Campana" style="width:16px;height:16px;"> NO</label>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <label>Empresa</label>
                                    </div>
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.Empresa, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </div>

                            <input type="hidden" name="EstadoCarnet" value="TRAMITE" />

                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <label>Fecha de Vencimiento</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control datepicker" name="FechaVencimiento" /> <!-- class="form-control datepicker" -->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">

                            <div class="panel panel-warning" style="border:2px solid coral;height:auto;">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="col-md-4">
                                                    <table>
                                                        <tr>
                                                            <td>
                                                                <label>Seleccione Foto de Carnet</label>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="col-md-3 col-md-offset-3">
                                                    <img id="imgSalida" width="100%" height="100%" src="" class="img-bordered img-responsive" />
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                    <div class="col-md-12" style="margin-top:2%;">
                        <center>
                            <input type="submit" class="btn btn-success" value="Modificar" style="background-color:#13D003;border:0px" />
                        </center>
                    </div>

                </form>
            </div>




        </div>


    </section>
</div>


<script type="text/javascript" language="javascript">
    $(window).load(function () {

        $(function () {
            $('#file-input').change(function (e) {
                addImage(e);
            });

            function addImage(e) {
                var file = e.target.files[0],
                imageType = /image.*/;

                if (!file.type.match(imageType))
                    return;

                var reader = new FileReader();
                reader.onload = fileOnload;
                reader.readAsDataURL(file);
            }

            function fileOnload(e) {
                var result = e.target.result;
                $('#imgSalida').attr("src", result);
            }


        });
    });


</script>

